In [127]:
from lxml import html
import requests
import pandas as pd
import numpy as np


########OPEN DATA PORTAL

df = pd.read_json("https://data.smcgov.org/resource/mb6a-xn89.json")
df.head(5)




page = requests.get('http://econpy.pythonanywhere.com/ex/004.html')
tree = html.fromstring(page.content)

#This will create a list of buyers:
buyers = tree.xpath('//div[@title="buyer-name"]/text()')
#This will create a list of prices
prices = tree.xpath('//span[@class="item-price"]/text()')

#Turning it into a data frame

buyersdf = pd.DataFrame(buyers) 
pricesdf = pd.DataFrame(prices) 


#Converting to numeric types

pricesdfb = pd.Series(result['b'])
pricesdfc = pd.Series(result['c'])

pricesdfb = pd.to_numeric(pricesdfb, errors='ignore')
pricesdfc = pd.to_numeric(pricesdfc, errors='ignore')



#buyersdf.head()
#pricesdf.head()


#Concatenate data

result = pd.concat([buyersdf, pricesdfb, pricesdfc], axis=1)

#Renaming Columns

#result.columns = ['', 'b']
#result.head()

#########Creates a copy of the column

result['c'] = result['b'] #New column = old column

x = result.loc[0,'c'] 


#########Creates a copy of the column

result['d'] = result['c'] #New column = old column

x = result.loc[0,'c'] 

####Remove values($) from the column

#result.b = [x.strip('$') for x in                           
#result.b]

###Replacing values

#result = result.apply(lambda x: x.str.replace('.',','))

#Sum of two columns in a third column


result['d'] = result['b'] + result['c'] 
result['e'] = result['b'] + result['c'] + result['d'] 


#Renaming Columns

#result.rename(columns={"0": "ID", "b": "Timestamp", "c": "Geolocation", "d":"Blabla", "e": "dasdasdas"})
result.columns = ['Names', 'X', 'Y', 'W', 'Z']

###Droping / Deleting columns

#result.drop('b', axis=1)

#result['e'] = result['b'] * 2
#result['f'] = result['b'] * 3

######Convert to Numeric types
 
result

               Names      X      Y      W       Z
0       Gill D. Lily  21.21  21.21  42.42   84.84
1         Cole Mines  11.56  11.56  23.12   46.24
2      Phil R. Monik   8.99   8.99  17.98   35.96
3        L.O. Quency  14.30  14.30  28.60   57.20
4        Connel Radd   4.99   4.99   9.98   19.96
5       Ben D. Rules  45.00  45.00  90.00  180.00
6       Cleon Sheets  16.27  16.27  32.54   65.08
7     Renata Tampaks  14.24  14.24  28.48   56.96
8       Justin Thyme  10.98  10.98  21.96   43.92
9         Matt Tress  18.47  18.47  36.94   73.88
10         Vic Trola  11.43  11.43  22.86   45.72
11         Al Truist  17.63  17.63  35.26   70.52
12       Aaron Tyres  25.00  25.00  50.00  100.00
13    U.N. Wattarmey  16.13  16.13  32.26   64.52
14  Abe L.N. Willing   4.99   4.99   9.98   19.96
15      Jerry Atrick  14.11  14.11  28.22   56.44
16           Hy Ball  16.61  16.61  33.22   66.44
17      Jill E. Bean   9.49   9.49  18.98   37.96
18         Kitty Car  11.13  11.13  22.26   44.52
19          Phil Coe  11.10  11.10  22.20   44.40

In [128]:
#####EXPORT TO EXCEL################################################################

import tkinter as tk
from tkinter import filedialog

#Consolidating the data_frame

cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [32000,35000,37000,45000]
        }

df = result


root= tk.Tk()

canvas1 = tk.Canvas(root, width = 300, height = 300, bg = 'lightsteelblue2', relief = 'raised')
canvas1.pack()

def exportExcel ():
    global df
    
    export_file_path = filedialog.asksaveasfilename(defaultextension='.xlsx')
    df.to_excel (export_file_path, index = False, header=True)

saveAsButtonExcel = tk.Button(text='Export Excel', command=exportExcel, bg='green', fg='white', font=('helvetica', 12, 'bold'))
canvas1.create_window(150, 150, window=saveAsButtonExcel)

root.mainloop()

print(df)
df.head()


result

               Names      X      Y      W       Z
0       Gill D. Lily  21.21  21.21  42.42   84.84
1         Cole Mines  11.56  11.56  23.12   46.24
2      Phil R. Monik   8.99   8.99  17.98   35.96
3        L.O. Quency  14.30  14.30  28.60   57.20
4        Connel Radd   4.99   4.99   9.98   19.96
5       Ben D. Rules  45.00  45.00  90.00  180.00
6       Cleon Sheets  16.27  16.27  32.54   65.08
7     Renata Tampaks  14.24  14.24  28.48   56.96
8       Justin Thyme  10.98  10.98  21.96   43.92
9         Matt Tress  18.47  18.47  36.94   73.88
10         Vic Trola  11.43  11.43  22.86   45.72
11         Al Truist  17.63  17.63  35.26   70.52
12       Aaron Tyres  25.00  25.00  50.00  100.00
13    U.N. Wattarmey  16.13  16.13  32.26   64.52
14  Abe L.N. Willing   4.99   4.99   9.98   19.96
15      Jerry Atrick  14.11  14.11  28.22   56.44
16           Hy Ball  16.61  16.61  33.22   66.44
17      Jill E. Bean   9.49   9.49  18.98   37.96
18         Kitty Car  11.13  11.13  22.26   44.52
19          Phil Coe  11.10  11.10  22.20   44.40

               Names      X      Y      W       Z
0       Gill D. Lily  21.21  21.21  42.42   84.84
1         Cole Mines  11.56  11.56  23.12   46.24
2      Phil R. Monik   8.99   8.99  17.98   35.96
3        L.O. Quency  14.30  14.30  28.60   57.20
4        Connel Radd   4.99   4.99   9.98   19.96
5       Ben D. Rules  45.00  45.00  90.00  180.00
6       Cleon Sheets  16.27  16.27  32.54   65.08
7     Renata Tampaks  14.24  14.24  28.48   56.96
8       Justin Thyme  10.98  10.98  21.96   43.92
9         Matt Tress  18.47  18.47  36.94   73.88
10         Vic Trola  11.43  11.43  22.86   45.72
11         Al Truist  17.63  17.63  35.26   70.52
12       Aaron Tyres  25.00  25.00  50.00  100.00
13    U.N. Wattarmey  16.13  16.13  32.26   64.52
14  Abe L.N. Willing   4.99   4.99   9.98   19.96
15      Jerry Atrick  14.11  14.11  28.22   56.44
16           Hy Ball  16.61  16.61  33.22   66.44
17      Jill E. Bean   9.49   9.49  18.98   37.96
18         Kitty Car  11.13  11.13  22.26   44.52
19          Phil Coe  11.10  11.10  22.20   44.40

In [136]:
#############  OPEN DATA ANALYSIS ##############

# Reading it from the API

df = pd.read_json("https://data.smcgov.org/resource/mb6a-xn89.json")
df.head(5)

# Snapshot
df.shape
(32, 8)

df.describe()

df.dtypes


##### Snapshot for non-numeric characters

#df.drop("geolocation", axis=1).describe(include="all")

##### Counting Numbers

def mapGeography(x):
    if x == "City":
        return 1
    else:
        return 0

df['geography_mapped_value'] = df.geography_type.apply(mapGeography)

df.geography_mapped_value.value_counts()


df

,geography,geography_type,year,less_than_high_school_graduate,high_school_graduate,some_college_or_associate_s_degree,bachelor_s_degree_or_higher,location_1,:@computed_region_uph5_8hpn,:@computed_region_i2t2_cryp,geography_mapped_value
0,Atherton,Town,2014-01-01T00:00:00.000,13.6,12.3,2.7,3.5,"{'type': 'Point', 'coordinates': [-122.2, 37.4...",2.0,28596,0
1,Colma,Town,2014-01-01T00:00:00.000,6.3,6.4,10.4,2.4,"{'type': 'Point', 'coordinates': [-122.455556,...",4.0,28588,0
2,Foster City,City,2014-01-01T00:00:00.000,11.9,9.7,2.0,2.9,"{'type': 'Point', 'coordinates': [-122.266389,...",6.0,319,1
3,Portola Valley,Town,2014-01-01T00:00:00.000,48.1,0.0,0.0,1.8,"{'type': 'Point', 'coordinates': [-122.218611,...",14.0,28597,0
4,Redwood City,City,2014-01-01T00:00:00.000,16.4,10.6,6.6,3.0,"{'type': 'Point', 'coordinates': [-122.236111,...",21.0,28607,1
5,Ladera,CDP,2014-01-01T00:00:00.000,0.0,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.274167,...",27.0,28591,0
6,Moss Beach,CDP,2014-01-01T00:00:00.000,4.8,8.2,9.3,3.5,"{'type': 'Point', 'coordinates': [-122.512778,...",30.0,28600,0
7,South San Francisco,City,2014-01-01T00:00:00.000,14.2,7.8,4.4,4.1,"{'type': 'Point', 'coordinates': [-122.425556,...",19.0,28613,1
8,Belmont,City,2014-01-01T00:00:00.000,20.9,5.9,5.0,3.6,"{'type': 'Point', 'coordinates': [-122.291667,...",15.0,28585,1
9,Daly City,City,2014-01-01T00:00:00.000,13.4,8.9,6.1,6.1,"{'type': 'Point', 'coordinates': [-122.468333,...",NaN,28588,1
10,San Mateo,City,2014-01-01T00:00:00.000,16.1,9.6,6.5,3.4,"{'type': 'Point', 'coordinates': [-122.313056,...",13.0,317,1
11,North Fair Oaks,CDP,2014-01-01T00:00:00.000,26.7,13.4,18.5,4.6,"{'type': 'Point', 'coordinates': [-122.203611,...",31.0,28608,0
12,Emerald Lake Hills,CDP,2014-01-01T00:00:00.000,6.2,2.0,4.1,2.2,"{'type': 'Point', 'coordinates': [-122.266389,...",24.0,28607,0
13,Hillsborough,Town,2014-01-01T00:00:00.000,31.1,6.1,1.5,1.4,"{'type': 'Point', 'coordinates': [-122.356389,...",8.0,28587,0
14,Brisbane,City,2014-01-01T00:00:00.000,0.0,1.7,11.5,3.3,"{'type': 'Point', 'coordinates': [-122.419167,...",NaN,28586,1
15,Menlo Park,City,2014-01-01T00:00:00.000,22.1,12.0,8.7,2.9,"{'type': 'Point', 'coordinates': [-122.183333,...",12.0,28595,1
16,Pacifica,City,2014-01-01T00:00:00.000,15.1,4.3,4.3,4.6,"{'type': 'Point', 'coordinates': [-122.485556,...",9.0,28604,1
17,San Carlos,City,2014-01-01T00:00:00.000,8.5,8.4,4.4,2.3,"{'type': 'Point', 'coordinates': [-122.2668, 3...",18.0,28611,1
18,Highlands-Baywood Park,CDP,2014-01-01T00:00:00.000,15.7,13.6,10.2,3.3,"{'type': 'Point', 'coordinates': [-122.343333,...",25.0,317,0
19,East Palo Alto,City,2014-01-01T00:00:00.000,18.3,16.4,17.2,9.1,"{'type': 'Point', 'coordinates': [-122.139722,...",5.0,312,1
20,Broadmoor,CDP,2014-01-01T00:00:00.000,21.2,8.0,3.0,2.4,"{'type': 'Point', 'coordinates': [-122.478889,...",22.0,28589,0
21,Millbrae,City,2014-01-01T00:00:00.000,7.0,7.8,5.3,3.7,"{'type': 'Point', 'coordinates': [-122.401389,...",11.0,28598,1
22,Loma Mar,CDP,2014-01-01T00:00:00.000,100.0,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.3075, 3...",28.0,28592,0
23,Woodside,Town,2014-01-01T00:00:00.000,0.0,9.4,6.8,3.2,"{'type': 'Point', 'coordinates': [-122.259722,...",20.0,28607,0
24,Half Moon Bay,City,2014-01-01T00:00:00.000,9.5,4.0,0.7,1.4,"{'type': 'Point', 'coordinates': [-122.436944,...",7.0,28590,1
25,San Bruno,City,2014-01-01T00:00:00.000,7.7,7.7,7.0,3.0,"{'type': 'Point', 'coordinates': [-122.425278,...",1.0,28610,1
26,Pescadero,CDP,2014-01-01T00:00:00.000,44.4,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.381389,...",32.0,28605,0
27,El Granada,CDP,2014-01-01T00:00:00.000,9.2,4.3,9.1,2.4,"{'type': 'Point', 'coordinates': [-122.473333,...",23.0,28590,0
28,West Menlo Park,CDP,2014-01-01T00:00:00.000,37.8,0.0,5.7,3.6,"{'type': 'Point', 'coordinates': [-122.203056,...",34.0,28595,0
29,Montara,CDP,2014-01-01T00:00:00.000,3.3,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.506389,...",29.0,28599,0
30,Burlingame,City,2014-01-01T00:00:00.000,20.1,8.3,7.4,3.7,"{'type': 'Point', 'coordinates': [-122.363611,...",16.0,28587,1
31,La Honda,CDP,2014-01-01T00:00:00.000,0.0,0.0,11.9,0.0,"{'type': 'Point', 'coordinates': [-122.197222,...",26.0,28597,0